*
{
    margin: 0px;
    padding: 0px;
    
}

#interactive
{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#etchSketch
{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    justify-content: stretch;
    align-items: stretch;
}

#center
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.row
{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.cell, .row
{
    flex-grow: 1;
}